[tool.coverage.run]
branch = true
source = ["app"]
omit = [
  "*/__pycache__/*",
  "*/scripts/*",
  "*/tests/*",
]

[tool.coverage.report]
skip_empty = true
fail_under = 80
show_missing = true

[tool.ruff]
line-length = 120
target-version = "py312"

